* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}
input,
select {
  outline: none;
  border: 2px solid #7c7676;
  height: 30px;
  padding-left: 10px !important;
}

select {
  width: 368px !important;
  height: 40px;
}
.form-group {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.form-group:nth-of-type(2),
.form-group:nth-of-type(4) {
  border-bottom: 2px solid #e5e4e4;
  padding-bottom: 25px;
}
.form-group label {
  flex: none;
  display: block;
  width: 240px;
  font-weight: 400;
  font-size: 21px;
}

.form-group .input-control {
  min-width: 350px;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

label ~ .right-label {
  width: 340px;
  font-family: Arial;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
}

.btn {
  background-color: #71c838;
  outline: none;
  border: none;
  width: 119px;
  height: 40px;
  color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  font-size: 18px;
}

.danger {
  border: 2px solid red;
}
.btn2:hover {
  color: #3fa7e7;
  border-bottom: 1px dashed #3fa7e7;
}
.error-msg {
  color: red !important;
  font-size: 12px;
}
.speech-bubble {
  position: relative;
  background: #eaeaea;
  max-width: 503px;
  min-height: 53px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.hidden {
  opacity: 0;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 8%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #eaeaea;
  border-top: 0;
  margin-left: -12px;
  margin-top: -12px;
}
span {
  padding-left: 25px;
  font-size: 16px;
  line-height: 25px;
}

.checkbox-span {
  vertical-align: top;
}
.btn2 {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #0c77bb;
  border-bottom: 1px dashed #0c77bb;
  font-size: 13px;
  height: 15px;
  align-self: flex-end;
  margin-left: 25px;
  margin-bottom: 5px;
}
.date-label {
  padding: 10px;
}
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }
  .form-group .input-control {
    margin-top: 2px;
  }
  .main-content {
    padding: 20px 8px;
  }
  .right-label {
    overflow: hidden;
    text-overflow: clip;
  }
  .date-label {
    padding: 0 0 20px;
  }
}
